.container {
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  font-weight: 400;
  padding-top: 1.5rem; }

.panel {
  justify-content: center;
  padding: 1.25rem;
  width: 35%;
  min-width: 250px;
  min-height: 270px; }
  @media (max-width: 767px) {
    .panel {
      width: 75%; } }

.or {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 1.3rem; }

.signup {
  justify-content: center;
  margin-top: 2rem; }
  .signupLink {
    font-size: 1.2rem; }
  .signupLabel {
    font-size: 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: #979797;
    font-weight: 400; }

.providers {
  margin-top: 1rem; }
