.container {
  justify-content: flex-start;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  margin: .2rem; }

.submit {
  width: 30%;
  min-width: 192px;
  margin-top: 1.5rem;
  text-align: center; }

.options {
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 80%; }
  @media (max-width: 767px) {
    .options {
      flex-direction: column; } }

.remember {
  flex-basis: 50%; }
  @media (max-width: 767px) {
    .remember {
      display: none; } }

.recover {
  display: inline;
  font-size: .8rem; }
  .recover .hover {
    text-decoration: underline; }
  @media (max-width: 767px) {
    .recover {
      font-size: 1rem; } }
