.brand {
    font-weight: 200;
    text-decoration: none;
}

.brand .icon {
    height: 50px;
    margin-top: 7px;
}

@media (max-width: 767px) {
    .brand .icon {
        width: 3rem;
        height: 3rem;
        margin-top: 1.1rem;
    }
}

.appBar > div {
    align-items: center;
    margin-top: 0px !important;
}

@media (max-width: 767px) {
    .appBar > div {
        justify-content: flex-end;
    }
}

.wrapper {
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 64px;
}

.avatar {
    margin-right: 1rem;
    align-items: center;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .avatar {
        margin-right: 0;
        justify-content: flex-end;
    }
}

.avatar-text {
    font-weight: 200;
    cursor: pointer;
    color: white !important;
    align-items: center;
    margin-left: 1rem;
    height: 100%;
    flex-grow: 1;
    font-size: 1rem;
}

.avatar-text-name {
    min-width: 5rem;
    margin-right: 1rem;
}

@media (max-width: 767px) {
    .avatar-text {
        display: none;
    }
}

.link {
    text-decoration: none;
}

.title {
    font-weight: 300;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

@media (max-width: 767px) {
    .title {
        display: none;
    }
}
