.container {
  align-items: center;
  padding-top: 4rem; }

.pane {
  justify-content: space-around;
  flex-basis: 60%; }

.settings {
  align-items: center;
  width: 100%; }

.avatarCurrent {
  width: 100%;
  max-width: 13rem;
  height: auto;
  cursor: pointer; }

.meta {
  justify-content: center;
  flex-basis: 60%;
  margin-bottom: 3rem;
  margin-top: 2rem; }
