/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
.flex, .flex-column, .flex-column-center, .container, .flex-row, .flex-row-center {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */ }

.flex-column {
  flex-direction: column; }
  .flex-column-center, .container {
    flex-direction: column;
    align-items: center; }

.flex-row {
  flex-direction: row; }
  .flex-row-center {
    flex-direction: row;
    justify-content: center; }

.container {
  padding: 3rem; }

.submit {
  margin-top: 2rem; }
