/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
.flex, .flex-column, .flex-column-center, .container, .panel, .login, .loginLabel, .flex-row, .flex-row-center {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */ }

.flex-column {
  flex-direction: column; }
  .flex-column-center, .container, .panel, .login, .loginLabel {
    flex-direction: column;
    align-items: center; }

.flex-row {
  flex-direction: row; }
  .flex-row-center {
    flex-direction: row;
    justify-content: center; }

.container {
  justify-content: flex-start;
  padding-top: 2rem;
  width: 100%;
  min-height: 530px;
  background-color: inherit; }

.progress {
  margin-top: 5rem; }

.panel {
  justify-content: center;
  padding: 1rem;
  width: 30%;
  min-width: 250px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .panel {
      width: 55%; } }
  @media (max-width: 767px) {
    .panel {
      width: 75%; } }

.or {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 1.3rem; }

.login {
  justify-content: center;
  margin-top: 2rem; }
  .loginLink {
    font-size: 1.2rem; }
  .loginLabel {
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    color: #979797; }

.providers {
  margin-top: 1rem; }
